.App {
  text-align: center;
  background-image: url(background.jpg);
  background-attachment: fixed;
  background-color: #422;
}

.App-header {
  background-color: #211;
  height: 160px;
  padding: 10px;
  color: #ECC;
  opacity: 0.8;
}

.App-title {
  font-size: 1.7em;
  font: 1.7em Garamond serif;
}

.App-intro {
  font-size: large;
}

.AlbumArtist {
  bottom: 0px;
  border-radius: 0px 0px 8px 8px;
}

.AlbumTitle {
  top: 0px;
  border-radius: 8px 8px 0px 0px;
}

.AlbumLabel p {
  width: 100%;
  margin: 0px;
  position: absolute;
  background-color: rgba(0,0,0,0.7);
}

a {
  color: inherit;
}

.AlbumLabel:hover{
  opacity: 1;
}

.AlbumLabel {
  opacity: 0;
  position: absolute;
  z-index: 1;
  font-size: 1em;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  left:   0px;
  color: #CAA;
  text-align: left;
  border-radius: 8px 8px 0px 0px;
}

.CoverArt {
  vertical-align: top;
  display: block;
  position: absolute;
  z-index: 0;
  top: 10px;
  left: 10px;
  border-radius: 0px;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
}

.Border {
  margin: 10px;
  display: inline-block;
  /*vertical-align: top;*/
  width: 300px;
  height: 300px;
  background-color: rgba(160,100,100,0.5);
  border-radius: 8px;
  position: relative;
}

.AlbumHolder {
}

.ButtonHolder{
  font-size: 0.8em;
  width: 250px;
  height: 70px;
  z-index: 10;
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  background: rgba(50,50,50,0.3);
}

button {
  width: 90%;
  height: auto;
  margin: 3px;
}

.Artist {
  position: relative;
}
