.App {
  text-align: center;
  background-color: #422;
}

.App-header {
  background-color: #211;
  height: 160px;
  padding: 10px;
  color: #ECC;
}

.App-title {
  font-size: 1.7em;
  font: 1.7em Garamond sanserif;
}

.App-intro {
  font-size: large;
}

.AlbumArtist {
  width: 100%;
  margin: 3px;
  position: absolute;
  bottom: 0px;
  vertical-align: bottom;
}

.AlbumTitle {
  position: absolute;
  width: auto;
  margin: 3px;
  vertical-align: top;
}

.AlbumLabel {
  position: absolute;
  z-index: 1;
  width: 300px;
  height: 100px;
  left: 100px;
  color: #211;
  display: table-cell;
  text-align: left;
  margin: 0px;
  padding: 0px;
  text-overflow: ellipsis;
  border-radius: 0px 8px 8px 0px;
}

.CoverArt {
  vertical-align: top;
  display: block;
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  border-radius: 8px 0px 0px 8px;
  height: 100px;
  width: 100px;
  /*margin-top: -50px;*/
}

.Border {
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  height: 100px;
  background-color: rgba(160,100,100,0.8);
  border-radius: 8px;
  position: relative;
/*  border-style: dashed;
  border-width: thin;
  border-color: #333; */
}

.AlbumHolder {
  display: block;
  width: 100%;
}

.ButtonHolder{
  font-size: 0.8em;
  width: 250px;
  z-index: 10;
  position: absolute;
  display: block;
  top: 10px;
  left: 10px;
  background: rgba(50,50,50,0.3);
}

.Artist {
  position: relative;
}
